* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: #051d0a;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}

#container {
    width: 500px;
    height: 500px;
    background: #fff;
    margin: 10px auto;
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
}
ul li {
    background: #fff;
    width: 30%;
    height: 150px;
    border: 1px solid #fff;
    margin-top: 10px;
    text-align: center;
  }
li{
    list-style: none;
}
.wrapper{
    width: 800px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
}
button{
    background-color: #fff;
    color: #000;
    font-family: monospace;
    font-weight: 600;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 12px 8px;
    width: 120px;
    margin: 10px;
    outline: none;
    border-radius: 15px;
}
button:hover{
    background-color: #000;
    color:white
}
p{
    font-family: monospace;
    font-size:2.5em ;
    color:#fff
}