*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: white;
    text-align: center;
    flex-direction: column;
    padding-top: 2%;
}
h1{
    font-family:monospace;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    font-weight: 100;
}
#container{
    width: 500px;
    height: 500px;
    background-color: white;
    margin: 10px auto;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: 'Audiowide';
    color: white;
}
ul li{
    background: #456990;
    width:30%;
    height:150px;
    border:1px solid #208090;
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
    padding-top: 3rem;

}